---
layout: default
---

<div class="home">

  <section>
    <div class="hero">
      <h1>Hi, we're pixel8news.</h1>
      <h2>We hunt down the best gaming news so you don't have to.</h2>
      <p>You work hard, you want to play hard (virtually, at least). Everyone wants a bit of your hard-earned cash. You just want to destroy some pixels. It's time-consuming to follow a bunch of blogs, try to filter out all the noise, and pick a few games that might meet your style. And that is assuming you don't get caught in a flame-war about why it was worth it to you to spend a grand on that sweet video card in your new rig.</p>
    </div>
  </section>

  <section>
    <div class="how-it-works">
      <div class="title"><h1>Overview</h1></div>
      <div class="bullet-point">
        <i class="fa fa-newspaper-o"></i>
        <h1>News</h1>
        <p>Premium gaming news, covering all of the stuff.</p>
      </div>
      <div class="bullet-point">
        <i class="fa fa-star-half-o"></i>
        <h1>Reviews</h1>
        <p>Reviews of all of the things.</p>
      </div>
      <div class="bullet-point">
        <i class="fa fa-users"></i>
        <h1>Yous</h1>
        <p>Community input, collaboration, commentary, and even contributed news and reviews.</p>
      </div>
    </div>
  </section>

  <section>
    <div class="meet-the-team">
      <div class="title"><h1>Meet the Team</h1></div>
      <ul>
      {% assign authors = site.authors | where:"featured",true | sort: "sort-order" %}
      {% for author in authors %}
        {% include team-member.html %}
      {% endfor %}
      </ul>
    </div>
  </section>

  <section>
    <div class="kickstarter">
      <h1>Be the first to find out.</h1>
      <p>We'll be launching the Kickstarter soon, so sign up to be on of the first to be invited.</p>
      <input class="email" type="email"><button value="Submit">Submit</button>
    </div>
  </section>

</div>
