<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <!-- <li><a href="javascript:void(0)">Terms and Conditions</a></li> -->
        <!-- <li><a href="javascript:void(0)">Privacy Policy</a></li> -->
      </ul>

      <ul class="footer-social">
        {% if site.email %}
        <li class="social-icon">
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
        {% endif %}
        {% if site.github_username %}
        <li class="social-icon">
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
          </a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li class="social-icon">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        {% endif %}
        {% if site.pinboard_username %}
        <li class="social-icon">
          <a href="https://pinboard.in/u:{{ site.pinboard_username }}">
            <i class="fa fa-thumb-tack"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
</footer>
