<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a class="navigation-title-button" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
          {% if page.title %}
          <li class="nav-link"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li class="nav-link"><a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
